<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width= , initial-scale=1.0">
    <title>All blog Post</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-grey-100 font-sans antialiased">

       <!-- Nav Bar -->
       <nav class="bg-blue-600 p-4 text-white flex justify-between">
        <div>
        <h1 class="text-3xl font-bold">AI blog Generator</h1>
        </div>
        <div>
            <a href="#" class="text-white hover:underline">LogOut </a>
        </div>
    </nav>
    <br>
    <br>

    <!-- Main content container -->
    <div class="container mx-auto mt-10 px-4 sm:px-0">
        <div class="max-w-3xl mx-auto bg-white p-6 rounded-lg shadow-md">
            <!-- Blog Post Section  -->
            <section>
                <h2 class="text-xl mb-4 font-semibold"> All blog post </h2>
                <div class="space-y-4">
                    <div class="border border-grey-300 p-4 rounded-lg">
                        <h3 class="text-lg font-semi bold"> Blog Post Title 1</h3>
                        <p>This is the content of the blog post.lorem ipsum color  </p>
                    </div>

                    <div class="border border-grey-300 p-4 rounded-lg">
                        <h3 class="text-lg font-semi bold"> Blog Post Title 2</h3>
                        <p>This is the content of the blog post.lorem ipsum color  </p>
                    </div> 

                    <!-- Repeat -->

                </div>
            </section>
        </div>
    </div>

    <footer class="text-center p-4 text-black mt-6">
        powered by Semester 4
    </footer>
    
</body>
</html>